@page
@model SSOTestWeb2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>
    <p>SSO implemented as this web used your login from SSOTestWeb1</p>
</div>
