@page
@model SSOTestWeb1.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Login using form below:</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    Username: <input asp-for="loginData.Username" value="" /><br />
    Password: <input asp-for="loginData.Password" value="" /><br />
    <input type="submit" value="Login" />
    @Html.AntiForgeryToken()
</form>

